.search-autocomplete {
  @apply mt-2 rounded-sm dark:bg-black;

  mat-option {
    @apply even:bg-gray-100 dark:text-gray-300 dark:bg-black dark:even:bg-gray-900 dark:hover:bg-gray-800;
    height: 24px;
    min-height: inherit;

    > span {
      white-space: nowrap !important;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
