@if (news$ | async; as news) {
  @if (news.length > 0) {
    @for (n of news; track $index) {
      <div class="item py-4">
        <a class="flex" [href]="n.article_url" target="_blank">
          <img class="mt-1" [src]="n.image_url" [alt]="n.title" />
          <div>
            <p class="publisher">{{ n.publisher.name }} - {{ n.published_utc | timeago: true }}</p>
            <p class="title dark:text-white">{{ n.title }}</p>
            <div class="mt-2">
              @for (tick of n.tickers | slice: 0 : 3; track $index) {
                <a class="tick dark:border-gray-400" [routerLink]="['/trade', tick]">{{ tick }}</a>
              }
            </div>
          </div>
        </a>
      </div>
    }
  } @else {
    <p class="text-center">No news found</p>
  }
} @else {
  <mat-spinner color="accent" diameter="30"></mat-spinner>
}
