<p-table
  #dt
  [sortField]="defaultSort"
  [value]="data"
  [rows]="20"
  [paginator]="showPaging"
  [rowsPerPageOptions]="[10, 20, 50]"
  [globalFilterFields]="globalFilterFields || []"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} symbols"
>
  @if (showCaption) {
    <ng-template pTemplate="caption">
      <div class="grid sm:grid-cols-3">
        <div class="flex items-center justify-between sm:col-span-2 mb-2">
          <h3 class="font-light text-2xl dark:text-white">{{ title }}</h3>
          <button label="Clear" class="p-1 dark:text-white" (click)="clear(dt)">
            <mat-icon>filter_alt_off</mat-icon>
          </button>
        </div>
        <div class="sm:pl-4 sm:col-span-1">
          <span class="search">
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              [placeholder]="searchPlaceholder"
            />
            <mat-icon class="dark:text-white">search</mat-icon>
          </span>
        </div>
      </div>
    </ng-template>
  }

  <ng-template pTemplate="header">
    <tr>
      @for (c of cols; track $index) {
        <th [pSortableColumn]="c.sortable ? c.field : undefined">
          {{ c.label }}
          @if (c.sortable) {
            <p-sortIcon [field]="c.field"></p-sortIcon>
          }
        </th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr [routerLink]="rowLinkFn ? rowLinkFn(row) : null">
      @for (c of cols; track $index) {
        <td>
          @switch (c.type) {
            @case (COL_TYPE.Text) {
              {{ row | nestedProperty: c.field }}
            }
            @case (COL_TYPE.ShortNumber) {
              {{ (row | nestedProperty: c.field | shortNumber) || '-' }}
            }
            @case (COL_TYPE.Price) {
              {{ row | nestedProperty: c.field | number: '1.2-2' }}
            }
            @case (COL_TYPE.PriceChange) {
              <span [mdPrice]="row | nestedProperty: c.field">{{
                row | nestedProperty: c.field | number: '1.2-2'
              }}</span>
            }
            @case (COL_TYPE.Date) {
              {{ row | nestedProperty: c.field | date: 'HH:mm' }}
            }
          }
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr class="empty">
      <td [attr.colspan]="cols.length">
        <p class="text-center my-20">Currently no data</p>
      </td>
    </tr>
  </ng-template>
</p-table>
