.price-up {
  color: rgb(18, 132, 64);
  display: inline-block;
  padding: 0 5px;
  border-radius: 4px;
  white-space: nowrap;

  &:before {
    content: '+';
    display: inline-block;
  }
}

.price-down {
  // background-color: rgba(165, 14, 14, 0.3);
  color: rgb(224, 0, 69);
  padding: 0 5px;
  display: inline-block;
  border-radius: 4px;
  white-space: nowrap;
}

.highlight {
  background-color: transparent;
  transition: all 1000ms linear;
  @apply rounded text-gray-900 dark:text-white px-2;

  &.up {
    background-color: rgb(2, 172, 44);
    transition: background-color 0ms;
    @apply rounded text-white px-2;
  }

  &.down {
    background-color: rgb(221, 40, 76);
    transition: background-color 0ms;
    @apply rounded text-white px-2;
  }
}
