.search {
  position: relative;

  input {
    @apply bg-white dark:bg-black border border-gray-200 dark:border-gray-700 dark:text-white;
    border-radius: 16px;
    padding: 7px 20px 7px 40px;
    font-size: 14px;
    width: 100%;
    outline: none;

    &:focus-visible {
      outline: 1px solid grey;
    }
  }

  mat-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
