.p-datatable {
  overflow: hidden;

  .p-datatable-header {
    @apply bg-transparent dark:bg-gray-800 rounded;
  }

  .p-sortable-column.p-highlight,
  .p-sortable-column.p-highlight .p-sortable-column-icon {
    @apply text-gray-700;

    &:hover {
      @apply dark:text-gray-200;
    }
  }

  .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
    @apply dark:text-gray-200;
  }

  .p-datatable-thead > tr > th {
    @apply whitespace-nowrap bg-transparent dark:bg-gray-700;
    @apply dark:text-gray-400 border-b dark:border-gray-900 font-light;
    padding: 4px 6px;

    &:first-of-type {
      padding-left: 1rem;
    }

    &:last-of-type {
      padding-right: 1rem;
    }

    * {
      display: inline-block;
    }
  }

  .p-datatable-tbody > tr {
    @apply bg-transparent dark:bg-gray-800 dark:even:bg-gray-900;
    @apply dark:text-gray-200;

    td {
      padding: 4px 6px;

      &:first-of-type {
        padding-left: 1rem;
      }

      &:last-of-type {
        padding-right: 1rem;
      }
    }

    &not:empty:hover {
      td {
        @apply dark:bg-gray-700;
      }
    }
  }
}

.p-paginator {
  @apply bg-transparent dark:bg-gray-800 rounded p-4;
  @apply dark:text-gray-200;

  .p-paginator-current {
    margin-left: auto;
  }
}
