/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* tailwind setup */
@import './partials/layout';
@import './partials/search';
@import './partials/variables';
@import './partials/material';
@import './partials/table';
@import './partials/prices';

@import 'primeng/resources/themes/nova/theme.css';
@import 'primeng/resources/primeng.min.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons+Outlined';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0';

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--font-color);
}

body.dark {
  background-color: var(--body-background);
}

.material-icons {
  font-size: 22px;
  line-height: 24px;
  font-family: 'Material Symbols Outlined', 'Material Icons';
}
