<div class="flex gap-2">
  @for (fav of favourites$ | async; track fav.snapshot?.ticker) {
    <a [routerLink]="['/markets', fav.uniSnapshot?.ticker]">
      <div class="pr-2">
        <p class="pl-2 font-semibold dark:text-white mb-2">{{ fav.uniSnapshot?.ticker }}</p>
        <p [mdHighlight]="fav.latestPrice?.vw || fav.uniSnapshot?.session?.price">
          {{ fav.latestPrice?.vw || fav.uniSnapshot?.session?.price | number: '1.2-2' }}
        </p>
      </div>
      <div class="flex flex-col">
        <p class="whitespace-nowrap mb-2">
          <span [mdPrice]="fav.uniSnapshot?.session?.change"
            >{{ fav.uniSnapshot?.session?.change | number: '1.2-2' }} ({{
              fav.uniSnapshot?.session?.change_percent | number: '1.2-2'
            }}%)</span
          >
        </p>
        <md-mini-chart class="h-full" [snapshot]="fav.uniSnapshot"></md-mini-chart>
      </div>
    </a>
  } @empty {
    loading...
  }
</div>
