<aside
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full bg-gray-50 sm:translate-x-0 dark:bg-gray-800"
  aria-label="Sidebar"
>
  <div class="flex flex-col h-full px-3 py-4 pb-4 overflow-y-auto bg-gray-100 dark:bg-gray-900">
    <a routerLink="/" class="flex ms-2 pb-4">
      <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
        M<span class="font-light">Data</span>
      </span>
    </a>

    <h3 class="mb-3 uppercase text-gray-900 dark:text-white text-xs">menu</h3>
    <ul class="space-y-2 mb-20">
      <li>
        <a
          routerLink="/"
          routerLinkActive="bg-gray-100 dark:bg-gray-700"
          [routerLinkActiveOptions]="{ exact: true }"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>home</mat-icon>
          <span class="ms-3">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/markets"
          routerLinkActive="bg-gray-100 dark:bg-gray-700"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>analytics</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">Markets</span>
        </a>
      </li>
    </ul>

    <h3 class="mb-3 uppercase text-gray-900 dark:text-white text-xs">account</h3>
    <ul class="space-y-2 mb-20">
      <li>
        <a
          routerLink="/profile"
          routerLinkActive="bg-gray-100 dark:bg-gray-700"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>account_circle</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/settings"
          routerLinkActive="bg-gray-100 dark:bg-gray-700"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>settings</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">Settings</span>
        </a>
      </li>
    </ul>

    <h3 class="mb-3 uppercase text-gray-900 dark:text-white text-xs">More</h3>
    <ul class="space-y-2">
      <li>
        <a
          href="https://polygon.io/"
          target="_blank"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>link</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">Polygon API</span>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/englishshaun/"
          target="_blank"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>link</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">LinkedIn</span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/ENGLISH87"
          target="_blank"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon>link</mat-icon>
          <span class="flex-1 ms-3 whitespace-nowrap">Github</span>
        </a>
      </li>
    </ul>

    <md-theme-switch class="mt-auto self-center"></md-theme-switch>
  </div>
</aside>
