<mat-tab-group>
  <mat-tab label="Biggest Gainers">
    <ng-template matTabContent>
      @if (gainers$ | async; as gainers) {
        <ng-container *ngTemplateOutlet="table; context: { tickers: gainers }"></ng-container>
      } @else {
        <mat-spinner color="accent" diameter="30"></mat-spinner>
      }
    </ng-template>
  </mat-tab>

  <mat-tab label="Biggest Losers">
    <ng-template matTabContent>
      @if (losers$ | async; as losers) {
        <ng-container *ngTemplateOutlet="table; context: { tickers: losers }"></ng-container>
      } @else {
        <mat-spinner color="accent" diameter="30"></mat-spinner>
      }
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #table let-tickers="tickers">
  <table class="md-table">
    <thead>
      <th>Ticker</th>
      <th>Price</th>
      <th>Change</th>
      <th>Change %</th>
      <th>Open</th>
      <th>Vol</th>
      <th>Prev Close</th>
      <th>Prev Open</th>
      <th>Prev Low</th>
      <th>Prev High</th>
      <th>Prev Vol</th>
      <th>Updated</th>
    </thead>
    <tbody>
      @for (s of tickers; track $index) {
        <tr [routerLink]="['/markets', s.ticker]">
          <td>{{ s.ticker }}</td>
          <td>{{ s.day?.vw | number: '1.2-2' }}</td>
          <td>
            <span [mdPrice]="s.todaysChange">{{ s.todaysChange | number: '1.2-2' }}</span>
          </td>
          <td>
            <span [mdPrice]="s.todaysChangePerc">{{ s.todaysChangePerc | number: '1.2-2' }}% </span>
          </td>
          <td>{{ s.day?.o | number: '1.2-2' }}</td>
          <td>{{ (s.day?.v | shortNumber) || '-' }}</td>
          <td>{{ s.prevDay?.c | number: '1.2-2' }}</td>
          <td>{{ s.prevDay?.o | number: '1.2-2' }}</td>
          <td>{{ s.prevDay?.l | number: '1.2-2' }}</td>
          <td>{{ s.prevDay?.h | number: '1.2-2' }}</td>
          <td>{{ s.prevDay?.v | shortNumber }}</td>
          <td>{{ s.min?.t | date: 'HH:mm' }}</td>
        </tr>
      } @empty {
        Currently unavailable
      }
    </tbody>
  </table>
</ng-template>
