<md-standard-template title="Market">
  @if (data$ | async; as data) {
    <div class="grid md:grid-cols-2 gap-6 mb-6">
      <div class="p-8 h-full rounded">
        <md-stock-summary></md-stock-summary>
      </div>
      <div class="p-8 h-full rounded bg-gray-50 dark:bg-gray-800">
        <md-price-summary></md-price-summary>
      </div>
    </div>

    <div class="grid md:grid-cols-5 xl:grid-cols-6 gap-6 mb-6">
      <div
        class="md:col-span-3 xl:col-span-4 pt-0 pb-3 rounded bg-gray-50 h-full overflow-y-auto dark:bg-gray-800"
      >
        <mat-tab-group [preserveContent]="true" [mat-stretch-tabs]="false">
          <mat-tab label="Chart">
            @if (data.summary?.ticker) {
              <md-chart [ticker]="data.summary?.ticker"></md-chart>
            }
          </mat-tab>
          <mat-tab label="News">
            <ng-template matTabContent>
              @if (data.summary?.ticker) {
                <md-news class="max-h-[470px]" [ticker]="data.summary?.ticker"></md-news>
              }
            </ng-template>
          </mat-tab>
          <mat-tab label="Historical"> todo </mat-tab>
        </mat-tab-group>
      </div>
      <div
        class="md:col-span-2 xl:col-span-2 py-6 px-8 flex flex-col rounded bg-gray-50 h-full dark:bg-gray-800"
      >
        <h2 class="text-xl mb-5 dark:text-white">Summary</h2>
        <div class="flex flex-col w-full">
          <div class="flex justify-between mb-6">
            <span class="uppercase">Previous Close</span>
            <span class="dark:text-white">{{
              data.snapshot?.session?.previous_close | number: '1.2-2'
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Open</span>
            <span class="dark:text-white">{{
              data.snapshot?.session?.open | number: '1.2-2'
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Day's Range</span>
            <span class="dark:text-white">
              {{ data.snapshot?.session?.low | number: '1.2-2' }} -
              {{ data.snapshot?.session?.high | number: '1.2-2' }}
            </span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">52 Week Range</span>
            <span class="dark:text-white">-</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Volume</span>
            <span class="dark:text-white">
              {{ data.snapshot?.session?.volume | number }}
            </span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Avg. Volume</span>
            <span class="dark:text-white">-</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Market Cap</span>
            <span class="dark:text-white">{{ data.summary?.market_cap | currency }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">SIC Code</span>
            <span class="dark:text-white">{{ data.summary?.sic_code }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="w-1/2 uppercase">SIC Desc.</span>
            <span class="w-1/2 text-right dark:text-white">{{
              data.summary?.sic_description
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Employees</span>
            <span class="dark:text-white">{{ data.summary?.total_employees | number }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Listed</span>
            <span class="dark:text-white">{{ data.summary?.list_date | date }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center h-48 mb-6 rounded bg-gray-50 dark:bg-gray-800">
      <p class="text-2xl text-gray-400 dark:text-gray-500">
        <mat-icon>add</mat-icon>
      </p>
    </div>

    <div class="grid">
      <div class="flex items-center justify-center rounded bg-gray-50 h-48 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <mat-icon>add</mat-icon>
        </p>
      </div>
    </div>
  }
</md-standard-template>
