<md-standard-template title="Market">
  @if (data$ | async; as data) {
    <div class="grid md:grid-cols-2 gap-6 mb-6">
      <div class="p-8 h-full rounded">
        <md-stock-summary></md-stock-summary>
      </div>
      <div class="grid-box !p-8 h-full">
        <md-price-summary></md-price-summary>
      </div>
    </div>

    <div class="grid md:grid-cols-5 xl:grid-cols-6 gap-6 mb-6">
      <div class="grid-box md:col-span-3 xl:col-span-4 !p-0">
        <mat-tab-group [preserveContent]="true" [mat-stretch-tabs]="false">
          <mat-tab label="Chart">
            @if (data.summary?.ticker) {
              <md-chart [ticker]="data.summary?.ticker"></md-chart>
            }
          </mat-tab>
          <mat-tab label="News">
            <ng-template matTabContent>
              @if (data.summary?.ticker) {
                <md-news class="max-h-[470px]" [ticker]="data.summary?.ticker"></md-news>
              }
            </ng-template>
          </mat-tab>
          <mat-tab label="Analysis"> ... </mat-tab>
          <mat-tab label="Financials"> ... </mat-tab>
          <mat-tab label="ESG"> ... </mat-tab>
        </mat-tab-group>
      </div>

      <div class="grid-box md:col-span-2 xl:col-span-2 !py-6 !px-8">
        <h2 class="text-xl mb-5 dark:text-white">Summary</h2>
        <div class="flex flex-col w-full">
          <div class="flex justify-between mb-6">
            <span class="uppercase">Previous Close</span>
            <span class="dark:text-white">{{
              data.uniSnapshot?.session?.previous_close | number: '1.2-2'
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Open</span>
            <span class="dark:text-white">{{
              data.uniSnapshot?.session?.open | number: '1.2-2'
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Day's Range</span>
            <span class="dark:text-white">
              {{ data.uniSnapshot?.session?.low | number: '1.2-2' }} -
              {{ data.uniSnapshot?.session?.high | number: '1.2-2' }}
            </span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">52 Week Range</span>
            <span class="dark:text-white">-</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Volume</span>
            <span class="dark:text-white">
              {{ data.uniSnapshot?.session?.volume || 0 | shortNumber }}
            </span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Avg. Volume</span>
            <span class="dark:text-white">-</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Market Cap</span>
            <span class="dark:text-white">{{ data.summary?.market_cap || 0 | shortNumber }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">SIC Code</span>
            <span class="dark:text-white">{{ data.summary?.sic_code }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="w-1/2 uppercase">SIC Desc.</span>
            <span class="w-1/2 text-right dark:text-white">{{
              data.summary?.sic_description
            }}</span>
          </div>
          <div class="flex justify-between mb-6">
            <span class="uppercase">Employees</span>
            <span class="dark:text-white">{{ data.summary?.total_employees | number }}</span>
          </div>
          <div class="flex justify-between">
            <span class="uppercase">Listed</span>
            <span class="dark:text-white">{{ data.summary?.list_date | date }}</span>
          </div>
        </div>
      </div>
    </div>
  }
</md-standard-template>
