<nav class="fixed top-0 inset-x-0 z-40 sm:ml-64 bg-white dark:bg-gray-950">
  <div class="px-3 py-4 lg:px-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button
          (click)="toggle()"
          type="button"
          class="inline-flex items-center p-2 mr-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <span class="sr-only">Open sidebar</span>
          <mat-icon>subject</mat-icon>
        </button>

        <span class="text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
          {{ title }}
        </span>
      </div>

      <div class="flex items-center">
        <md-search></md-search>
        <div class="flex items-center ms-3">
          <button
            type="button"
            [class.connected]="connected$ | async"
            class="flex text-sm rounded-full ring-2 ring-red-700"
            aria-expanded="false"
          >
            <span class="sr-only">Open user menu</span>
            <img class="w-8 h-8 rounded-full" src="assets/images/me.jpeg" alt="user photo" />
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
