@if (data$ | async; as data) {
  @if (data.summary && data.uniSnapshot) {
    <div class="w-full">
      <div class="day bg-gray-400 dark:bg-black mb-6">
        <button (click)="today = true" [class.active]="today">Today</button>
        <button *ngIf="data.snapshot" (click)="today = false" [class.active]="!today">
          Yesterday
        </button>
      </div>
      @if (today) {
        <div class="flex flex-row w-full divide-x divide-solid divide-gray-500">
          <div class="flex flex-col w-1/3">
            @switch (data.uniSnapshot.market_status) {
              @case ('open') {
                <h3 class="text-xl">Now</h3>
                <p class="font-semibold text-2xl dark:text-white py-2">
                  {{ data.uniSnapshot.session?.price | currency }}
                </p>
                <p [mdPrice]="data.uniSnapshot.session?.change">
                  {{ data.uniSnapshot.session?.change | number: '1.2-2' }} ({{
                    data.uniSnapshot.session?.change_percent | number: '1.2-2'
                  }}%)
                </p>
              }
              @case ('closed') {
                <h3 class="text-xl">Market Closed</h3>
                <p class="font-semibold text-2xl dark:text-white py-2">
                  {{ data.uniSnapshot.session?.close | currency }}
                </p>
                <p [mdPrice]="data.uniSnapshot.session?.change">
                  {{ data.uniSnapshot.session?.change | number: '1.2-2' }} ({{
                    data.uniSnapshot.session?.change_percent | number: '1.2-2'
                  }}%)
                </p>
              }
              @case ('early_trading') {
                <h3 class="text-xl">Early Trading</h3>
                <p class="font-semibold text-2xl dark:text-white py-2">
                  {{ data.uniSnapshot.session?.price | currency }}
                </p>
                <p [mdPrice]="data.uniSnapshot.session?.early_trading_change">
                  {{ data.uniSnapshot.session?.early_trading_change | number: '1.2-2' }} ({{
                    data.uniSnapshot.session?.early_trading_change_percent | number: '1.2-2'
                  }}%)
                </p>
              }
              @case ('late_trading') {
                <h3 class="text-xl">Late Trading</h3>
                <p class="font-semibold text-2xl dark:text-white py-2">
                  {{ data.uniSnapshot.session?.close | currency }}
                </p>
                <p [mdPrice]="data.uniSnapshot.session?.late_trading_change">
                  {{ data.uniSnapshot.session?.late_trading_change | number: '1.2-2' }} ({{
                    data.uniSnapshot.session?.late_trading_change_percent | number: '1.2-2'
                  }}%)
                </p>
              }
            }
          </div>
          <div class="flex flex-col w-1/3 pl-4 sm:pl-5">
            <h3 class="text-xl">Previous Close</h3>
            <p class="font-semibold text-2xl dark:text-white py-2">
              {{ data.uniSnapshot.session?.previous_close | currency }}
            </p>
            <!-- <p>June 16, 16:00</p> -->
          </div>
          <div class="flex flex-col w-1/3 pl-4 sm:pl-9">
            <h3 class="text-xl">Open</h3>
            <p class="font-semibold text-2xl dark:text-white py-2">
              {{ data.uniSnapshot.session?.open | currency }}
            </p>
            <!-- <p>June 17, 09:30</p> -->
          </div>
        </div>
      } @else {
        <div class="flex flex-row w-full divide-x divide-solid divide-gray-500">
          <div class="flex flex-col w-1/3 sm:pl-5">
            <h3 class="text-xl">Open</h3>
            <p class="font-semibold text-2xl dark:text-white py-2">
              {{ data.snapshot?.prevDay?.o | currency }}
            </p>
            <p>{{ getYestMs(data.snapshot?.updated) | date: 'MMM d yyyy' }}</p>
          </div>

          <div class="flex flex-col w-1/3 pl-4 sm:pl-5">
            <h3 class="text-xl">Close</h3>
            <p class="font-semibold text-2xl dark:text-white py-2">
              {{ data.snapshot?.prevDay?.c | currency }}
            </p>
            <p [mdPrice]="(data.snapshot?.prevDay?.c || 0) - (data.snapshot?.prevDay?.o || 0)">
              {{
                (data.snapshot?.prevDay?.c || 0) - (data.snapshot?.prevDay?.o || 0)
                  | number: '1.2-2'
              }}
              ({{ getPercentChange(data.snapshot?.prevDay?.o, data.snapshot?.prevDay?.c) }}%)
            </p>
          </div>

          <div class="flex flex-col w-1/3 pl-4">
            <h3 class="text-xl">Vol.</h3>
            <p class="font-semibold text-2xl dark:text-white py-2">
              {{ data.snapshot?.prevDay?.v | number: '1.0-0' }}
            </p>
          </div>
        </div>
      }
    </div>
  }
}
